body {
    font-family: 'Roboto', sans-serif;
}

// Headings, paragraph and anchor tags
h2 {
    font-size: $largeFont;
    font-weight: 700;
    color: $blackText;
    margin: 0;
}

h3 {
    font-size: $mediumFont;
    color: $blackText;
    margin: 0 0 15px;
}

h4 {
    font-size: $mediumFont - 4;
    color: $blackText;
    margin: 0;
}

h5 {
    font-size: $smallFont + 2;
    color: $blackText;
    margin: 0;
}

p {
    font-size: $smallFont + 2;
    color: $textColor;
}

a {
    color: $anchorTagColor;
    text-decoration: none;
    font-size: $smallFont + 2;
}

span {
    font-size: $smallFont;
    color: $textColor;
}

// Padding between sections
.section-padding {
    padding: $largePadding 0;
}

.section-less-padding {
    padding: $lesspadding 0;
}

.section-bottom-padding {
    padding-bottom: $lesspadding;
}

.section-top-padding {
    padding-top: $lesspadding - 5;
}

// Border and border radius
.border-all {
    border: 1px solid $borderColor;
}

.border-bottom {
    border-bottom: 1px solid $borderColor;
}

.border-top {
    border-top: 1px solid $borderColor;
}

.border-right {
    border-right: 1px solid $borderColor;
}

.border-left {
    border-left: 1px solid $borderColor;
}

// Common styles for buttons and button states
.btn {
    padding: 8px 15px;
    min-width: 50px;
    font-size: $buttonFontSize;
    outline: none;
    box-shadow: none;
}

.btn-primary {
    background-color: $btnPrimary;
    color: $whiteColor;
    border-color: $btnPrimary;
}

.btn-outline {
    background-color: $whiteColor;
    border: 1px solid $btnPrimary;
    color: $btnPrimary
}

.pos-abs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.light-grey-bg {
    background-color: $greyBackgroundColor;
}

.box {
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    padding: $lesspadding - 5;
    &.white-bg {
        background-color: $whiteColor;
    }
}

.primary-table {
    width: 100%;
    border: 1px solid $borderColor;
}

.pad-btm-40 {
    padding-bottom: 40px;
}