// Color codes used across website

$primaryColor:rgb(245, 160, 91);
$whiteColor:#fff;
$borderColor:grey;
$anchorTagColor: blue;
$textColor:grey;
$blackText:#000;
$successColor:green;
$dangerColor:red;
$warningColor:yellow;
$primaryblue:#337ab7;

// Font sizes used across website

$largeFont: 36px;
$mediumFont: 24px;
$smallFont: 14px;
$buttonFontSize: 16px;


// Padding and border values

$largePadding:50px;
$lesspadding:25px;
$borderRadius:3px;

 // margin
$marginBottom :10px;