@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900");
body {
  font-family: 'Roboto', sans-serif; }

h2 {
  font-size: 52px;
  font-weight: 700;
  color: #4a4a4a;
  margin: 0; }

h3 {
  font-size: 22px;
  color: #4a4a4a;
  margin: 0 0 15px; }

h4 {
  font-size: 18px;
  color: #4a4a4a;
  margin: 0; }

h5 {
  font-size: 14px;
  color: #4a4a4a;
  margin: 0; }

p {
  font-size: 14px;
  color: #5f5f5f; }

a {
  color: #337ab7;
  text-decoration: none;
  font-size: 14px; }

span {
  font-size: 12px;
  color: #5f5f5f; }

.section-padding {
  padding: 50px 0; }

.section-less-padding {
  padding: 25px 0; }

.section-bottom-padding {
  padding-bottom: 25px; }

.section-top-padding {
  padding-top: 25px; }

.border-all {
  border: 1px solid #dedede; }

.border-bottom {
  border-bottom: 1px solid #dedede; }

.border-top {
  border-top: 1px solid #dedede; }

.border-right {
  border-right: 1px solid #dedede; }

.border-left {
  border-left: 1px solid #dedede; }

.btn {
  padding: 8px 15px;
  min-width: 50px;
  font-size: 14px;
  outline: none;
  box-shadow: none; }

.btn-primary {
  background-color: #4a90e2;
  color: #fff;
  border-color: #4a90e2; }

.btn-outline {
  background-color: #fff;
  border: 1px solid #4a90e2;
  color: #4a90e2; }

.pos-abs {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%); }

.light-grey-bg {
  background-color: #f4f4f4; }

.box {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  padding: 20px; }
  .box.white-bg {
    background-color: #fff; }

.primary-table {
  width: 100%;
  border: 1px solid #dedede; }

.pad-btm-40 {
  padding-bottom: 40px; }

.navbar-default {
  background-color: #141414;
  border-color: #141414;
  border-radius: 0; }
  .navbar-default .navbar-brand {
    font-size: 26px;
    color: #fff; }
    .navbar-default .navbar-brand:hover {
      color: #fff; }
  .navbar-default.navbar {
    margin-bottom: 0; }

.side-menu {
  background: #fff;
  padding: 25px;
  height: 241px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07); }
  .side-menu ul {
    padding: 0px; }
    .side-menu ul li {
      font-size: 14px;
      list-style: none;
      border-bottom: 1px solid #dedede;
      padding: 12px 0; }
      .side-menu ul li.active a, .side-menu ul li:hover a {
        color: #d0021b; }
      .side-menu ul li .mar-top {
        margin-top: 5px; }
      .side-menu ul li a {
        color: #4a4a4a;
        text-decoration: none; }

.notification-status {
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  position: relative; }
  .notification-status .pos-abs {
    right: 20px;
    font-size: 18px;
    font-weight: 500; }
  .notification-status h2 {
    color: #fff; }
    .notification-status h2 span {
      color: #fff;
      font-size: 15px;
      font-weight: 500; }
  .notification-status.green-bg {
    background-color: #97e169; }
    .notification-status.green-bg .pos-abs {
      color: #60be26; }
  .notification-status.yellow-bg {
    background-color: #f8e716; }
    .notification-status.yellow-bg .pos-abs {
      color: #a39705; }
  .notification-status.red-bg {
    background-color: #e17e69; }
    .notification-status.red-bg .pos-abs {
      color: #be4126; }

.traffic-monitor-holder {
  margin-top: 20px; }
  .traffic-monitor-holder .box {
    height: 280px; }
    .traffic-monitor-holder .box h4 {
      font-size: 16px; }
    .traffic-monitor-holder .box p {
      margin-top: 5px;
      font-size: 12px; }

.top-query {
  margin-top: 20px; }
  .top-query .box .export-value {
    padding: 20px 0; }
    .top-query .box .export-value h4 {
      display: inline-block; }
    .top-query .box .export-value p {
      display: inline-block;
      font-size: 20px;
      color: #4a4a4a; }
    .top-query .box .export-value span {
      font-size: 14px;
      margin: 0 5px;
      font-weight: bold; }
      .top-query .box .export-value span.green {
        color: #97e169; }
      .top-query .box .export-value span.blue {
        color: #4a90e2; }
  .top-query .primary-table tr.active td, .top-query .primary-table tr:hover td {
    background-color: #dedede;
    border-color: #fff;
    cursor: pointer; }
  .top-query .primary-table tr th {
    border-right: 1px solid #dedede;
    width: 12%;
    padding: 10px;
    background: #fff;
    border-top: 1px solid #dedede; }
    .top-query .primary-table tr th:first-child {
      width: 8%; }
    .top-query .primary-table tr th:last-child {
      width: 20%; }
  .top-query .primary-table tr td {
    border-right: 1px solid #dedede;
    width: 12%;
    padding: 10px;
    background: #fff;
    border-top: 1px solid #dedede;
    font-size: 10px; }
    .top-query .primary-table tr td:first-child {
      width: 8%; }
    .top-query .primary-table tr td:last-child {
      width: 20%; }
  .top-query .query-box {
    border: 4px solid #4a4a4a;
    padding: 10px;
    margin: 15px 0;
    background-color: #dedede; }
    .top-query .query-box p {
      color: purple; }
      .top-query .query-box p span {
        color: #4a4a4a; }

.deadlock-holder {
  margin-top: 20px; }
  .deadlock-holder .graph {
    background-color: #fff;
    padding: 25px; }

.primary-table tr.active td, .primary-table tr:hover td {
  background-color: #dedede;
  border-color: #fff;
  cursor: pointer; }
.primary-table tr th {
  border-right: 1px solid #dedede;
  width: 19%;
  padding: 10px;
  background: #fff;
  border-top: 1px solid #dedede; }
  .primary-table tr th:first-child {
    width: 6%; }
.primary-table tr td {
  border-right: 1px solid #DEDEDE;
  width: 19%;
  padding: 15px;
  background: #fff;
  border-top: 1px solid #DEDEDE; }
  .primary-table tr td:first-child {
    width: 6%; }
  .primary-table tr td.progress-data {
    width: 100%; }
  .primary-table tr td a {
    color: #4a4a4a;
    text-decoration: none; }
  .primary-table tr td p {
    width: 116px;
    height: 10px;
    border-radius: 20px;
    margin-left: 10px; }
    .primary-table tr td p.danger {
      border: 1px solid #e17e69;
      background-color: #e17e69; }
    .primary-table tr td p.success {
      border: 1px solid #97e169;
      background-color: #97e169; }
    .primary-table tr td p.warning {
      border: 1px solid #f8e716;
      background-color: #f8e716; }

.detail-info p {
  display: inline-block;
  width: 50%;
  font-size: 11px;
  color: #4a4a4a; }
.detail-info span {
  font-size: 11px;
  font-weight: bold; }
  .detail-info span input {
    margin-right: 20px; }

.status p {
  font-size: 10px;
  margin: 4px 0 0; }
.status span {
  font-size: 20px;
  font-weight: bold; }

.grey-box {
  margin-top: 16px;
  border: 1px solid #5f5f5f;
  height: 55px;
  background-color: #5f5f5f; }
  .grey-box.blue {
    background-color: #337ab7; }

/*# sourceMappingURL=style.css.map */
