.notification-status {
    padding: $lesspadding - 5;
    box-shadow: $boxShadow;
    border-radius: 3px;
    position: relative;
    .pos-abs {
        right: $lesspadding - 5;
        font-size: $mediumFont - 4;
        font-weight: 500;
    }
    h2 {
        color: $whiteColor;
        span {
            color: $whiteColor;
            font-size: $smallFont + 3;
            font-weight: 500;
        }
    }
    &.green-bg {
        background-color: $greenColor;
        .pos-abs {
            color: darken($greenColor, 20%);
        }
    }
    &.yellow-bg {
        background-color: $yellowColor;
        .pos-abs {
            color: darken($yellowColor, 20%);
        }
    }
    &.red-bg {
        background-color: $redColor;
        .pos-abs {
            color: darken($redColor, 20%);
        }
    }
}

.traffic-monitor-holder {
    margin-top: $lesspadding - 5;
    .box {
        height: 280px;
        h4 {
            font-size: $smallFont + 4;
        }
        p {
            margin-top: 5px;
            font-size: $smallFont;
        }
    }
}

.top-query {
    margin-top: $lesspadding - 5;
    .box {
        .export-value {
            padding: $lesspadding - 5 0;
            h4 {
                display: inline-block;
            }
            p {
                display: inline-block;
                font-size: 20px;
                color: $blackText;
            }
            span {
                font-size: 14px;
                margin: 0 5px;
                font-weight: bold;
                &.green {
                    color: $greenColor;
                }
                &.blue {
                    color: $btnPrimary;
                }
            }
        }
    }
    .primary-table {
        tr {
            &.active,
            &:hover {
                td {
                    background-color: $borderColor;
                    border-color: $whiteColor;
                    cursor: pointer
                }
            }
            th {
                border-right: 1px solid $borderColor;
                width: 12%;
                padding: $minimumPadding;
                background: $whiteColor;
                border-top: 1px solid $borderColor;
                &:first-child {
                    width: 8%;
                }
                &:last-child {
                    width: 20%;
                }
            }
            td {
                border-right: 1px solid $borderColor;
                width: 12%;
                padding: 10px;
                background: $whiteColor;
                border-top: 1px solid $borderColor;
                font-size: 10px;
                &:first-child {
                    width: 8%;
                }
                &:last-child {
                    width: 20%;
                }
            }
        }
    }
    .query-box {
        border: 4px solid $blackText;
        padding: 10px;
        margin: 15px 0;
        background-color: $borderColor;
        p {
            color: purple;
            span {
                color: $blackText;
            }
        }
    }
}

.deadlock-holder {
    margin-top: $lesspadding - 5;
    .graph {
        background-color: $whiteColor;
        padding: $lesspadding;
    }
}