.box {
    h4 {
        margin: 10px 0;
    }
    .detail-info {
        p {
            display: inline-block;
            width: 50%;
            font-size: $smallFont;
            color: $blackText;
        }
        span {
            font-weight: bold;
            input {
                margin-right: $lesspadding - 5;
            }
        }
    }
    .status-details {
        h4 {
            margin: 0;
        }
    }
    .grey-box {
        margin-top: $smallFont + 4;
        border: 1px solid $textColor;
        height: 55px;
        background-color: $textColor;
        &.blue {
            background-color: $anchorTagColor;
        }
    }
}